<html>
  <head>
    <script src="https://code.jquery.com/jquery-3.3.1.js" crossorigin="anonymous"></script>
  </head>
  <body>

    <h1>Your files</h1>

    <hr>

    <div id='files_container'>
        <table id="file_table">
            <tr>
                <th>
                    File Name
                </th>
                <th>
                    File Type
                </th>
                <th>
                    Action
                </th>
            </tr>
        </table>
    </div>

    <script type="text/javascript">

    /*
      Function to carry out the actual POST request to S3 using the signed request from the Python app.
    */

    function fetch_files(){
        $.ajax({
          type: "GET",
          url: "api/v1/assets",
          headers: {"Content-Type": "application/json"}
        }).done(function(data) {
            console.log( data );
            create_list(data);
      });
    }

    function create_list(data) {
        markUp = "";
        data.forEach(function(item){
            markUp += "<tr><td><a href="+item.file_url+">"+item.file_name+"</a></td>"
            markUp += "<td>"+item.file_type+"</td>"
            markUp += "<td><a href='#' class='delete-file' id=file-"+item.id+" data-id="+item.id+">Delete</a></td></tr>"
        });
        $("table tbody").append(markUp);
        $(".delete-file").click(delete_file);
    }

    function delete_file(){
        var assetId = $(this).data('id');
        $.ajax({
          type: "DELETE",
          url: "api/v1/assets/"+assetId,
          headers: {"Content-Type": "application/json"}
        }).done(function(data) {
            console.log( data );
            remove_from_list(assetId);
      });
    }

    function remove_from_list(assetId) {
        $("#file-"+assetId).closest("tr").remove();
    }

    /*
       Bind listeners when the page loads.
    */
    (() => {
      fetch_files();
      $(".delete-file").click(delete_file);
    })();

    </script>
  </body>
</html>
