<html>
  <head>
    <script src="https://code.jquery.com/jquery-3.3.1.js" crossorigin="anonymous"></script>
  </head>
  <body>

    <h1>Upload your file</h1>

    <hr>

    <p id="status">Please select a file</p>
    <p><input type="file" id="file-input"></p>
    <form>
      <input type="hidden" id="file-url" name="file_url">
      <p><input type="text" id="file-name" name="file_name" readonly=readonly></p>
      <p><input type="text" id="file-type" name="file_type" readonly=readonly></p>
      <p><input type="submit" value="Upload file" id="submit-btn" disabled=disabled></p>
    </form>


    <script type="text/javascript">

    /*
      Function to carry out the actual POST request to S3 using the signed request from the Python app.
    */
    function uploadFile(file, s3Data, url, file_name, file_type){
      const xhr = new XMLHttpRequest();
      xhr.open('POST', s3Data.url);
      xhr.setRequestHeader('x-amz-acl', 'public-read');

      const postData = new FormData();
      for(key in s3Data.fields){
        postData.append(key, s3Data.fields[key]);
      }
      postData.append('file', file);
      postData.delete('Content-Type');
      postData.delete('acl');

      xhr.onreadystatechange = () => {
        if(xhr.readyState === 4){
          if(xhr.status === 200 || xhr.status === 204){
            document.getElementById('file-name').value = file_name;
            document.getElementById('file-type').value = file_type;
            document.getElementById('file-url').value = url;
            document.getElementById('submit-btn').disabled = false;
            document.getElementById('file-input').value = null;
          }
          else{
            alert('Could not upload file.');
          }
        }
      };
      xhr.send(postData);
    }

    /*
      Function to get the temporary signed request from the Python app.
      If request successful, continue to upload the file using this signed
      request.
    */
    function getSignedRequest(file){
      const xhr = new XMLHttpRequest();
      xhr.open('GET', '/api/v1/get_signed_url?file_name='+file.name+'&file_type='+file.type);
      xhr.onreadystatechange = () => {
        if(xhr.readyState === 4){
          if(xhr.status === 200){
            const response = JSON.parse(xhr.responseText);
            uploadFile(file, response.data, response.url, file.name, file.type);
          }
          else{
            alert('Could not get signed URL.');
          }
        }
      };
      xhr.send();
    }

    /*
       Function called when file input updated. If there is a file selected, then
       start upload procedure by asking for a signed request from the app.
    */
    function initUpload(){
      const files = document.getElementById('file-input').files;
      const file = files[0];
      if(!file){
        return alert('No file selected.');
      }
      getSignedRequest(file);
    }

    function createFile(evt){
      evt.preventDefault();

        $.ajax({
          type: "POST",
          url: "api/v1/assets",
          data: toJSONString($(this)),
          headers: {"Content-Type": "application/json"}
        }).done(function(data) {
            alert("file uploaded successfully");
            $('form')[0].reset();
        console.log( "Data Loaded: " + data );
      });
    }

    function toJSONString( form ) {
        obj = {};
        formArr = form.serializeArray()
        for(idx in formArr) {
            ob = formArr[idx];
            obj[ob.name] = ob.value;
        }

		return JSON.stringify( obj );
	}

    /*
       Bind listeners when the page loads.
    */
    (() => {
      document.getElementById('file-input').onchange = initUpload;

      $('form').submit(createFile);
    })();

    </script>
  </body>
</html>
